@import '../../../../css/variables';
@import '../../../../css/typography';

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: static !important;
	}
}

.dropdown-toggle {
	background: none !important;
	border: 2px solid rgba(0, 0, 0, 0.15) !important;
	margin-left: -14px;
	width: 200px;
	height: 42px;
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
	border: none !important;
}

#safeprojecttypeofproject {
	border: none !important;
	width: 200px;
	height: 42px;
}

.nested-dropdown:after {
	display: none !important;
	border: none !important;
}

.nested-dropdown {
	cursor: pointer;
	border: none !important;
}

.nest-dropdown-arrow {
	cursor: pointer;
	position: static;
	margin-left: 40px;
}
.nested-dropdown-whole {
	margin-left: 24px;
}

.nested-dropdown-menu {
	border: none !important;
	box-shadow: none !important;
}

.dropdown-toggle:empty::after {
	color: $teal !important;
}

.double-dropdown-input {
	color: $gray-800 !important;
}
