.toolTip {
	max-width: 636px;
	border-radius: 8px;
	background-color: #232f34;
	padding: 8px;
	margin: -10px 0 10px 10px;
	position: absolute;
	left: 20%;
	z-index: 1;
	transform: translate(0px, -20px);
}
