@import '../../css/variables';
@import '../../css/mixins';

.account-menu {
  background-color: $white;
  height: min-content;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 46px;
  width: 100%;
  min-width: 110px;
  margin-top: 46px;
}


.nav-block {
  display: block;
  width: 100%;
  padding: 6px 0;
  &:hover {
    font-weight: bold;
    text-decoration: none;
  }
}

.navLinkItem {
  margin-left: 16px;
}

.navLinkButton {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  &:focus {
    border: 0 !important;
    outline: 0 !important;
  }
}

.subLinkItem {
  border-left: 2px solid #efefef;
  margin-left: 50px;
  padding: 8px 0 8px 10px;
}

.section-subheader {
  margin-left: 15px !important;
  li {
    margin-bottom: 4px;
  }
}

.verticalNavBarHolder {
  display: block !important;
}

.verticalNavBar {
  margin: 0;
  padding: 15px 10px 15px 15px !important;
  background: #fff;
  border: 0;
}

  
.activeCard {
  border-right: 4px solid $teal !important;
  a, button {
    background-color: #f6f7f8 !important;
   }
}

.accountSvgs {
  width: 18px;
  height: 18px;
}

.dashboardPadding{
    @include mq('tablet-small',max){
      padding-left: 10% !important;
    }
    @include mq('phablet',max){
      padding-left: 15% !important;
    }
    @include mq('phone-wide',max){
      padding-left: 30% !important;
    }
  }

.accountHeader { 
      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
      background-color: $white;
      width: 100%;
      padding: 24px;
    }

.kpiContainer {
  width: 100%;
}

.kpiClass {
    @include mq('tablet',max){
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }
    @include mq('phone-wide',max){
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }

.dataAccessTabs {
  align-items: center;
  justify-content: center;
} 

.toolsButtons {
    text-align: center;
  }

.truncate {
  width: 380px;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchTermLink{
    white-space: pre-wrap;
  } 

.kpiCard {
  height: 90px;
  padding:10px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.kpiCard{
  @include mq('desktop',max){
    height: 100px !important;
    padding:10px !important;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09) !important;
    background-color: #ffffff !important;
  }
  @include mq('tablet-wide',max){
    height: 100px !important;
    padding:5px !important;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09) !important;
    background-color: #ffffff !important;
  }
} 

#dateDropdown input, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit !important;
  color: inherit !important;
} 

#metadataButton {
  width: 299px;
  height: 40px;
}

#advancedSearchButton {
  width: 240px;
  height: 40px;
}

#userguideButton {
  width: 105px;
  height: 40px;
}

#userguideButton:focus { 
  box-shadow: none !important;
}

#serviceDeskButton {
  width: 116px;
  height: 40px;
}

#serviceDeskButton:focus { 
  box-shadow: none !important;
}

.noTextDecoration {
  text-decoration: none;
}

#betaTag {
  width: 48px;
  height: 24px;
  background-color: #3db28c;
  border: none;
}