.default-about-page {
	padding: 16px;
	height: 900px;
}
.default-about-page h1 {
	color: #475da7 !important;
	font-size: 56px !important;
	font-weight: 100 !important;
	margin-bottom: 28px;
}
.default-about-page p {
	color: #53575a !important;
	font-size: 18px !important;
}
