@import '../../css/variables';

.alertLink,
.alertLink:hover {
	color: #856505;
	text-decoration: underline;
}

.versionNumber {
	color: $purple;
	margin-right: 5px;
}

.actionMenuHeader {
	padding: 0;
}

.resource-card-row {
	margin-top: 1px;
}
