@import '../../../../css/variables';
@import '../../../../css/typography';

.account-dataset-decision-modal {
	box-sizing: border-box;

	.modal-dialog {
		max-width: 620px !important;
	}

	.rbt-input {
		font-size: 14px !important;
	}

	.rbt-close {
		color: #475da7 !important;
		margin-top: 0px !important;
	}
}

.Use-this-tool-to-fin {
	font-size: 14px;
	color: #3c3c3b;
}

.radio-buttons-container {
	display: flex;
	flex-direction: column;
}

.account-dataset-decision-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.account-dataset-decision-footer {
	display: flex;
	width: 100%;

	border-top: 1px solid #e7e9ed;

	&--wrap {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 16px;
	}
}

.account-dataset-decision-header {
	display: flex;
	width: 100%;
	background: #ffffff;
	border-bottom: 1px solid #e7e9ed;

	&--wrap {
		width: 100%;
		padding: 32px 24px 32px 32px;
	}
}

.account-dataset-decision-body {
	display: flex;
	width: 100%;
	background: #ffffff;
	border-bottom: 1px solid #e7e9ed;
	min-height: 358px;

	&--wrap {
		width: 100%;
		padding: 24px 32px 32px 32px;
	}
}

.account-dataset-decision-modal-close {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 17px;
	height: 17px;
	color: #111111;
}
