@import '../../../css/variables';

.mainWorkflowCard {
	border-top: 1px solid #e7e9ed !important;
}

.workflowSlide {
	margin-bottom: 16px;
}

.workflowAnswer {
    margin-left: 29px;
}

.workflowQuestion {
    margin-left: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.workflowRectangle {
    width: 100%;
    box-shadow: 1px 1px 3px 0 #00000017;
    background-color: $white;
    padding: 24px;
    padding-bottom: 8px;
  }

.workflowSubtitle {
    padding-bottom: 8px;
}