body {
  background-color: #f6f7f8;
}

.Rectangle {
    width: 100%;
    box-shadow: 1px 1px 3px 0 #00000017;
    background-color: #ffffff;
    padding: 20px;
}

.ToolsHeader{
  width: 100%;
  height: 40px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.ButtonHolder{
  min-width: 800px;
    width: 100%;
    /* box-shadow: 1px 1px 3px 0 #00000017; */
    /* background-color: #f6f7f8; */
    /* padding: 20px; */
}

.searchHolder {
  text-decoration-line: none;
  /* cursor: 'pointer'; */
}

.SmallCard{
  width: 392px;
  min-height: 72px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.WhiteBackground{
  /* min-width: 1440px;*/
  min-height: 80px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
}

.tagBadges {
  display: inline-block;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 16px;
}

.iconHolder {
  text-align: right;
  padding-top: 5px;
}

.dateHolder {
  text-align: right;
  padding-right: 25px;
}

.reviewStarsGap {
  margin-left:20px
}

.reviewTitleGap {
  margin-left:10px;
  margin-right:10px
}

.Black-16px{
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}

.Black500-16px{
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}

.Black-20px{
  font-family: museo-sans-rounded;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}

.Gray800-14px{
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #3c3c3b;
}

.Gray800-14px-bold{
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #3c3c3b;
}

.Gray700-16px{
  width: 88px;
  height: 19px;
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #53575a;
}

.Gray700-13px{
  font-family: museo-sans-rounded;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #53575a;
}

.Gray500-13px{
  font-family: museo-sans-rounded;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #53575a;
}

.Purple-13px{
  /* width: 69px;
  height: 15px; */
  font-family: museo-sans-rounded;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  /* color: var(--purple); */
  color: #475da7;
}

.Purple-14px{
  /* width: 319px;
  height: 17px; */
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  /* color: var(--purple); */
  color: #475da7;
}

.searchBarBackground {
  width: 100%;
  background-color: #ffffff;
}

.signLink {
  text-align: right;
  margin-top: 28px;
  margin-right: 32px;
}

.signLinkLanding {
  text-align: right;
  margin-right: 32px;
}

.LandingBackground {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(110deg, #50b996, #485ea7 100%);
  padding-bottom: 50px;
}

/* #LandingWholePage{
  background-image: linear-gradient(110deg, #50b996, #485ea7 100%);
  min-height: 539px;
  height: 100%;
} */

.Pill{
  /* width: 104px; */
  height: 25px;
  border-radius: 16px;
}

.DropdownLocation{
  /* width: 40%; */
  /* justify-content: flex-end; */
  /* align-content: flex-end; */
  /* align-items: flex-end; */
  /* right: auto; */
  align-items: right;
}

.FilterCard{
  box-shadow: 1px 1px 3px 0 #00000017;
  background-color: #ffffff;
  padding: 10px;
}

/* #AdFilters{
  max-height: 228px;
  overflow-y: scroll;
} */

#StickyTitle{
  position: sticky;
  /* position: fixed; */
}

.AdFilters{
  box-shadow: 1px 1px 3px 0 #00000017;
  background-color: #ffffff;
  padding: 10px;
  max-height: 228px;
  overflow-y: scroll;
}

#TagItem{
  list-style-type: none;
}

#Logo{
  width: 152px;
}

#Picture{
  width: 24px;
  height: 24px;
}

#BigPicture{
  width: 56px;
  height: 56px;
}

#landingPageCard{
  font-family: museo-sans-rounded;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#landingPageEmptyRow{
  min-height: 120px;
}

.landingPageAccountText {
  color: #ffffff;
}

.landingPageAccountText:hover {
  color: #ffffff;
}

#projectTitleEmptyRow{
  min-height: 24px;
}

#searchInputHolder{
  min-height: 48px;
  /* width: 800px; */
  width: 100%;
  background-color: #f6f7f8;
  padding-top: 0px;
  padding-bottom: 0px;
}

#searchIcon{
  width:3%
}

/* #DropDownSpan{
  display: inline-block;
  width: 5%;
} */

.SearchBarInput{
  border: 0;
  padding-left: 5px;
  background-color: #ffffff;
  display: block;
  height: 56px;
  border-radius: 4px;
}

@media (min-width: 992px) {
  .SearchBarInputGrey{
    border: 0;
    background-color: #f6f7f8;
    display: inline-block;
    border-radius: 4px;
    margin-top:15px;
    padding: 5px;
    width:100%;
  }
}

@media (max-width: 991px) {
  .SearchBarInputGrey{
    border: 0;
    background-color: #f6f7f8;
    display: inline-block;
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px;
    width:100%;
  }
}

#SearchInputSpan{
  display: inline-block;
  width: 75%;
  height: 40px;
  outline: none;
  border: 0;
  font-size: 20px;
  color: #3c3c3b;
}

#SearchInputSpanGrey{
  display: inline-block;
  width: 70%;
  outline: none;
  border: 0;
  font-size: 16px;
  background-color: #f6f7f8;
  color: #3c3c3b;
  padding-top:5px;
}

.SearchInputIconGrey {
  float: left;
  min-width: 40px;
  padding: 8px 0px 0px 10px;
}

.SearchInputClearGrey {
  float: right;
  padding: 5px 10px 0px 0px;
}

#SearchInputSpan:focus{
  outline: none;
}

#NavSearchInputSpan{
  display: inline-block;
  width: 97%;
  min-height: 48px;
  height: 100%;
}

#NavSearchInputSpan:focus{
  outline: none;
}

input[type='radio']:after {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  top: -4px;
  left: -2px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: solid 2px #d6d6d6;
}

input[type='radio']:checked:after {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  padding-left: 3px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: url(../images/radio.svg) ;

  display: inline-block;
  visibility: visible;
  border: solid 2px #d6d6d6;
}

.TabsBackground{
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
}

.AddButton{
  width: 152px;
  height: 40px;
}

.CancelButton{
  width: 83px;
  height: 40px;
}

.form-group .AddFormInput{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 2px #d0d3d4;
  background-color: #ffffff;
}

 .form-group .AddFormInput:focus{
  border-radius: 4px;
  border: solid 2px #3db28c;
}

.form-group .EmptyFormInput, .form-group .EmptyFormInput:focus{
  border-radius: 4px;
  border: solid 2px #dc3645;
}

.SmallFormInput{
  width: 100%; 
  max-width: 480px;
}

/* RBTS ARE THE STYLES FOR TYPEAHEAD INPUTS */
.rbt-input-multi{
  width: 100% !important;
  height: 40px !important;
  border-radius: 4px !important;
  border: solid 2px #d0d3d4 !important;
  background-color: #ffffff !important;
}

.rbt-input-multi.focus{
  border-color: #3db28c !important;
  box-shadow: none !important;
}

.rbt-input-multi.after.focus{
  border-color: #dc3645 !important;
  box-shadow: none !important;
}

.rbt-token{
  background-color: #f3f3f3 !important;
  color: #3c3c3b !important;
}

/* .EmptyFormInput{
  border-radius: 4px !important;
  border: solid 2px #dc3645  !important;
} */

/* #DescriptionInput{
  min-width: 752px;
  width:100%;
  height: 186px;
  border-radius: 4px;
  border: solid 2px #d0d3d4;
  background-color: #ffffff;
}

#DescriptionInput:focus{
  border-radius: 4px;
  border: solid 2px #3db28c;
} */

.DescriptionInput {
  height: 186px !important;
}

/* .form-group .DescriptionInput:focus{
  border-radius: 4px;
  border: solid 2px #3db28c;
} */

.ErrorMessages{
  font-family: museo-sans-rounded;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #dc3645;
}

#ArchiveButton{
  background-color: #eeeeee;
  /* width: 85px; */
}

#AddReviewButton{
  width: 100%;
  background-color: #eeeeee;
}

.AccountButtons{
  border: 2px solid #3db28c !important;
  border-radius: 4px !important;
}

.landingPageInformationBox{

}

.landingPageInformationNumber{
  font-family: museo-sans-rounded;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.landingPageInformationDetail{
  font-family: museo-sans-rounded;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.accountDropDownGap {
    margin-left:20px
}

@media screen and (max-width: 768px) {
  .nav {
      padding-left:2px;
      padding-right:2px;
  }
  .nav a {
      display:block !important;
      width:100%;
      margin:0px;
  }
  .nav a.active {
      border:1px solid #3db28c!important;
      border-radius: 0px;
      margin: 0px;
  }
}

.toolsButtons {
  text-align: center
}

.AuthorCard{
  height: 80px;
}

#UnderlinedLink{
  text-decoration-line: underline;
}