@import '../../../css/variables';
@import '../../../css/typography';

.modal.show .modal-dialog {
	transform: translate(0, 10%) !important;
}

.advanced-search {
	&-modal-header,
	&-body {
		display: flex;
	}

	&-body {
		flex-direction: row;
		justify-content: space-between;

		&-left {
			flex-direction: column;
		}
	}

	&-learn-more {
		position: absolute;
		bottom: 0;
		display: block;
	}
	&-image {
		max-width: 100%;
	}
}

.beta-title {
    background: #3db28c;
    padding: 4px 7px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.modal-header > .close {
    align-self: end;
}